.App {
  text-align: center;
}

.image-wrapper {
  width: 100%;

}

label,
input {
  font-size: 0.75rem;
}

button {
  width: 100%;
  padding: 0.25rem 0;
}

#email {
  width: 10rem;
}

.image {
  max-width: 18rem;
  max-height: 18rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  text-align: left;
  line-height: 3rem;
}

.email-wrapper {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}